.list-items {
  font-size: 25px;
  padding-top: 12px;
  padding-left: 2px;
}
#list-text {
  color : rgb(100, 7, 100);
}
#footer-text {
  margin-top: 100px;
  text-align: center;
  font-size: 14px;
}
h1 {
  font-size: 36px;
  text-align: center;
}
p {
  color: black;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-right: 50px;
  margin-left: 10px;
}
.image {
  margin-top: 10px; 
  margin-left: 40px;
  width: 40%; 
  object-fit: contain; 
}
body {
  background-color: rgb(247, 239, 220);
}
nav {
  font-family: cursive;
}